
  <div class='container'>
  <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h2>マイページ</h2>

<h3>登録情報</h3>

<table class="table">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %></td>
      <td><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

  <%= link_to '退会する', unsubscribe_public_customers_path, class: "btn btn-sm btn-danger" %>


<h2>注文履歴一覧</h2>


<table class="table">
  <thead>
    <tr>
      <th>注文日時</th>
      <th>封筒</th>
      <th>便箋</th>
      <th>フォント</th>
      <th>注文詳細</th>
      <th>お支払額</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th>
          <%= order.created_at.strftime('%Y/%m/%d') %>
        </th>
        <th>
          <%= order.item.envelope.name %>
        </th>
        <th>
          <%= order.item.paper.naem %>
        </th>
        <th>
          <%= order.item.font.name %>
        </th>
        <th>
          <%= link_to "文章を表示する", public_orders_path(order.id) %>
        </th>
        <th>
          <%= order.payment %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>