<div class= "row" >
  <div class= "container">
    <h2>郵送先/注文情報入力</h2>

    <table class = "table">
  <thead>
      <th>封筒</th>
      <th>便箋</th>
      <th>フォント</th>
      <th>文章</th>
  </thead>
  <tbody>
      <tr>
        <td>
            <%= @envelope.name %>
            <%= image_tag @envelope.image, size: "150x100" %>
        </td>
        <td>
            <%= @paper.name %>
            <%= image_tag @paper.image, size: "150x100" %>
        </td>
        <td>
            <%= @font.name %>
            <%= image_tag @font.image, size: "150x100" %>
        </td>
        <td>
            <%= @message %>
        </td>
  </tbody>
</table>


<%= form_with model:[@order, @item], url: confirm_public_orders_path do |f| %>
<p>支払い方法</p>
<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method, "クレジットカード" %>
<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method, "銀行振込" %>
<p>本来はここでクレジットカード情報や口座情報を入力できるようにしますが<br/>
ポートフォリオのため割愛しております。</p>


<p>郵送先情報</p>
<%= f.label :郵便番号 %>
<%= f.text_field :postal_code, autocomplete: "postal_code" %><br />
<%= f.label :住所 %>
<%= f.text_field :address, autocomplete: "address" %><br />
<%= f.label :宛名 %>
<%= f.text_field :name, autocomplete: "name" %><br />

<p>送り主情報</p>
<%= f.radio_button :select_address, 1 %>
<%= f.label :select_address, "ご自身の住所を使用する" %><br />
<%= f.radio_button :select_address, 2 %>
<%= f.label :select_address, "新しい送り主情報を入力する" %><br />
<%= f.label :郵便番号 %>
<%= f.text_field :sender_postal_code, autocomplete: "postal_code" %><br />
<%= f.label :住所 %>
<%= f.text_field :sender_address, autocomplete: "address" %><br />
<%= f.label :宛名 %>
<%= f.text_field :sender, autocomplete: "name" %><br />
<%= f.hidden_field :paper_id %>

<%= f.submit "確認画面へ進む" %>

<% end %>