<div class= "row" >
  <div class= "container">
    <h2>手紙を編集する</h2>
      <%= form_with model: @item, url:public_item_path(@item.id), id: 'form_id' do |f| %>
        <%= f.collection_select :envelope_id, @envelopes, :id, :name, { selected: @selected_envelope }, { prompt: "封筒を選ぶ" } %>
        <%= f.collection_select :paper_id,  @papers, :id, :name, { selected: @selected_paper_id }, { prompt: "便箋を選ぶ" } %>
        <%= f.collection_select :font_id, @fonts, :id, :name, { selected: @selected_font_id }, { prompt: "フォントを選ぶ" } %>
        <%= f.collection_select :article_id, @articles, :content, :name, { selected: @selected_article_id }, { prompt: "文章を選ぶ" } %>
        <%= f.hidden_field :message, value: @message %>
      <%= f.submit '郵送先/注文情報を入力する' %>
    <% end %>

  </div>
</div>

        <div style="editorwrapper">
            <div class="editor">
                <p style="background-color:Black; color:white;">入力フォーム</p>
                <form name="js">
                    <p>手紙の内容</p>
                    <textarea id="liveeditor" name="htmlbody" rows="10" cols="80">
                      <%= @message %>
                    </textarea>
                </form>
            </div>

            <div class="preview">
                <p style="background-color:Black; color:white;">プレビュー</p>
                <div id="livepreview" class="livepreview"></div>
            </div>

        </div>
<script>
$('#form_id').submit(function(){
  const hidden_field = document.getElementById('item_message');
  hidden_field.value = document.getElementById('livepreview').innerText;
    // バリデーションチェックや、データの加工を行う。
    //

    //バリデーションチェックの結果submitしない場合、return falseすることでsubmitを中止することができる。
})


</script>