    <h2>商品一覧</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
          <tr>
            <th>封筒（※花は含まれません）</th>
          </tr>
          <% @envelopes.each do |envelope| %>
            <tr>
              <td class="col">
                <div class="image-wrapper">
                <%= image_tag envelope.image, size: "300x200" %><br>
                （<%= envelope.id %>）<%= envelope.name %>
                </div>
              </td>
            </tr>
            <% end %>
      </table>
    </div>
    <div class="col">
      <table class="table">
          <tr>
            <th>便箋</th>
          </tr>
          <% @papers.each do |paper| %>
            <tr>
              <td>
                <div class="image-wrapper">
                <%= image_tag paper.image, size: "300x200" %><br>
                （<%= paper.id %>）<%= paper.name %>
                </div>
              </td>
            </tr>
            <% end %>
      </table>
    </div>
    <div class="col">
       <table class="table">
          <tr>
            <th>フォント</th>
          </tr>
          <% @fonts.each do |font| %>
            <tr>
              <td>
                <div class="image-wrapper-s">
                <%= image_tag font.image, size: "250x200" %><br>
                （<%= font.id %>）<%= font.name %>
                </div>
              </td>
            </tr>
            <% end %>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
          <tr>
            <th>文章テンプレート</th>
          </tr>
          <% @articles.each do |article| %>
            <tr>
              <td>
                （<%= article.id %>）<%= article.name %>
              </td>
            </tr>
            <% end %>
      </table>
    </div>
    <div class="col">
      <table class="table">
        <tr>
          <th><h4>ご利用料金について</h4></th>
        </tr>
        <td>
          <p>国内：便箋１枚の手紙郵送で一律３００円（税込）<br>
          国外：現在お取り扱いがありません</p>
        </td>
      </table>
    </div>
  </div>
</div>


  <div class = "btn">
    <button type="button" class="btn btn-outline-primary"><%= link_to "手紙をつくってみる", new_public_customers_item_path %></button>
  </div>
</div>