<div class= "row" >
  <div class= "container">
    <h2>商品一覧</h2>
      <%= form_with url:confirm_public_items_path, id: 'form_id' do |f| %>
      <%# byebug %>
        <%= f.collection_select :envelope_id, @envelopes, :id, :name, {include_blank: true, selected: params[:envelope_id].present? ? params[:envelope_id].to_i: nil } %>
        <%= f.collection_select :paper_id,  @papers, :id, :name, {include_blank: true, selected: params[:paper_id].present? ? params[:paper_id].to_i: nil } %>
        <%= f.collection_select :font_id, @fonts, :id, :name, {include_blank: true, selected: params[:font_id].present? ? params[:font_id].to_i: nil } %>
        <%= f.collection_select :article_id,  @articles, :content, :name, {class: "", include_blank: true, selected: params[:article_id].present? ? params[:article_id].to_i: nil } %>
      <%= f.submit '手紙を一時保存する' %>
    <% end %>

  </div>
</div>

        <title>templetter</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=320, minimum-scale=1.0, maximum-scale=2.0">

        <div style="editorwrapper">
            <div class="editor">
                <p style="background-color:Black; color:white;">入力フォーム</p>
                <form name="js">
                    <p>手紙の内容</p>
                    <textarea id="liveeditor" name="htmlbody" rows="10" cols="80">
                        <%= session[:message].present? ? session[:message]: nil %>
                    </textarea>
                </form>
            </div>

            <div class="preview">
                <p style="background-color:Black; color:white;">プレビュー</p>
                <div id="livepreview" class="livepreview"></div>
            </div>

        </div>
<script>
$('#form_id').submit(function(){
   var message =  $("#liveeditor").val()
   var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "message").val(message);
    $('#form_id').append(input);
    //
    // バリデーションチェックや、データの加工を行う。
    //

    //バリデーションチェックの結果submitしない場合、return falseすることでsubmitを中止することができる。
})


</script>